Source: univention-node-exporter
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper,
 univention-config-dev,
 univention-join-dev,
Standards-Version: 3.8.2

Package: univention-node-exporter
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 prometheus-node-exporter (>= 0.17),
 univention-apache,
Description: UCS: promethues node metrics
 This package installs required packages to allow monitoring
 clients by prometheus.
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/
